In [15]:
import os
os.chdir('/Users/gleb_ganin/PycharmProjects/scientificProject/')

In [16]:
import pandas as pd
users_table = pd.read_csv('data/Less_2_Data_set/users.csv')
users_table.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [17]:
subscribers_table = pd.read_csv('data/Less_2_Data_set/subscribers.csv')
subscribers_table.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [18]:
marketing_campaing_table = pd.read_csv('data/Less_2_Data_set/marketing_campaign.csv')
marketing_campaing_table.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [19]:
df = pd.merge(users_table,subscribers_table, on = 'user_id', how = 'left')
df = pd.merge(df,marketing_campaing_table, on = 'user_id', how = 'left')

#Выведем информацию о датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   age_group            10037 non-null  object
 2   language_preferred   10037 non-null  object
 3   subscribing_channel  1856 non-null   object
 4   date_subscribed      1856 non-null   object
 5   date_canceled        577 non-null    object
 6   is_retained          1856 non-null   object
 7   date_served          10021 non-null  object
 8   marketing_channel    10022 non-null  object
 9   variant              10037 non-null  object
 10  language_displayed   10037 non-null  object
 11  converted            10022 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB